.title_article {
    height: 30px;
    display: flex;
    margin: 1rem 0;
    padding-right: 1rem;
}

.title_article span {
    cursor: pointer;
    color: #cad8e6;
}

.box_container_article {
    display: grid;
    grid-template-columns: 70% 25%;
    column-gap: 24px;
    position: relative;
}

.box_article {
    background-color: #4f4f54;
    padding: 1rem;
    border-radius: 6px;

}

.box_sliders_article {
    display: flex;
    column-gap: 30px;
    margin: 1rem 0;
}

.box_sliders_article span {
    color: #cad8e6;
    font-weight: 200;
    font-size: smaller;
}

.img_article {
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.des1_article {
    margin: 1rem 0;
    font-weight: 200;
    line-height: 37px;
    color: #e3e3e3;
}

.box_new_product {
    background-color: #4f4f54;
    padding: 1rem;
    border-radius: 6px;
    height: 420px;
    position: sticky;
    top: 10px;
}

.box_new_article {
    display: flex;
    column-gap: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all .4s ease-in;
}
.box_new_article:hover {
    display: flex;
    column-gap: 10px;
    margin-bottom: 1rem;
    cursor: pointer;
    background-color: #2e3033;
    align-items: center;
    border-radius: 5px;
    text-align: center;
}

.img_new_article {
    border-radius: 4px;
    height: 67px;
    width: 90px;
}

.bi-share {
    padding-left: 5px;
}

.ul_material {
    list-style: none;
    row-gap: 15px;
    display: flex;
    flex-direction: column;
}
li .bi{
    padding-left: 10px;
    color: #0cb60e;
}
.title_shear_article{
    display: flex; 
    justify-content: space-between;
}
@media screen and (max-width:1150px) {
    .box_container_article {
        display: block;

    }

    .box_new_product {
        margin-top: 2rem;
    }
}

@media screen and (max-width:650px) {
    .title_article span {
        font-size: smaller;

    }

    .title_article {

        align-items: center;
    }
    
    h5 {
        font-size: smaller;
    }

    h5+span {
        font-size: smaller;
    }

    .icons_about {
        font-size: x-small;

    }

    .box_sliders_article {
        text-align: center;
    }
}