* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #282c34;
    font-family: Vazir;
}
.themeLight{
    background-color: #fff;
  
}
.themeDark{
    background-color: #282c34;
}
.textDark{
    color:#282c34;
}
.container_nav {
    padding-top: 1rem;
    background-color: #3f3e46;
    display: grid;
    grid-template-columns: 20% 40% 30%;
    justify-content: space-between;

}

.navbar_items {
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding-bottom: 10px;
}

.nav_item {
    color: #fff;
}

.logo{
    width: 100px;
     height: 59px;
}

.nav_item {
    text-decoration: none;
}

.link_home {
    color: #03bc06;
}

.item {

    position: relative;
}

.item::before {
    content: "";
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #3f3e46;
    border-radius: 20px;
    transition: all 500ms ease;
}

.item::after {
    content: "";
    position: absolute;
    bottom: -5px;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #03bc06;
    border-radius: 20px;
    transition: all 500ms ease;
}

.item:hover::before {
    width: 0;
    transition: all 500ms ease;
}

.item:hover::after {
    width: 100%;
    transition: all 500ms ease;
}

.nav_items {
    position: relative;
    height: 50px;
    transition: all 500ms ease;
    display: flex;
    align-items: center;
}

.nav_item:hover {
    color: #03bc06;
}

#dropdown_content {
    position: absolute;
    display: none;
    background-color: #3f3e46;
    width: 130px;
    top: 50px;
    padding: 8px 1rem;
    border-top: 3px solid #03bc06;
    border-radius: 5px;
}

#dropdown_content a {
    color: #fff;
    padding-bottom: 5px;
    text-decoration: none;
    display: block;
}

#dropdown_content2 a {
    color: #fff;
    padding-bottom: 5px;
    text-decoration: none;
    display: block;
}

#dropdown_content a:hover {
    color: #03bc06;
}

.nav_items:hover #dropdown_content {
    display: block;
    z-index: 1;
}

.nav_items:hover #dropdown_content2 {
    display: block;
    z-index: 1;
}

.login_box {
    display: flex;
    color: #fff;
    justify-content: space-evenly;
    align-items: center;
}

.font_icons {
    width: 25px;
    height: 25px;
    cursor: pointer;
    /* color: #9a6b00; */
}

#dropdown_content2 {
    position: absolute;
    display: none;
    background-color: #3f3e46;
    width: 300px;
    height: 200px;
    top: 50px;
    padding: 8px 1rem;
    border-top: 3px solid #03bc06;
    border-radius: 5px;
}

.btn_login {
    display: table;
    background-color: #0cb60e;
    color:#fff;
    padding: 8px;
    border-radius: 4px;
    outline: none;
    border: none;
    position: relative;
    text-decoration: none;
    z-index: 1;

}
.btn_login::before {
    content: "";
    position:absolute;
    border-radius: 4px;
    height: 100%;
    width: 0;
    background-color: #e0ad04;
    top:0;
    right: 0;
    z-index: -1;
    transition: all .3s ease-in;
}
.btn_login:hover::before{
    content: "";
    width: 100%;
    transition: all .3s ease-in;
}


.bi-cup-hot-fill {
    font-size: 27px;
    color: #b8b3ac;
}

.nav_mobile {
    display: none;
    text-align: center;
}

#toggle_nav:checked + label + ul {
    transform: translateX(0);
}
#toggle_nav:checked + label span:first-child{
    transform: rotate(50deg);
}
#toggle_nav:checked + label span.line_mid{
    transform: translateX(10px);
    opacity: 0;
}
#toggle_nav:checked + label span:last-child{
    position: relative;
    top: -10px;
    transform: rotate(133deg);
}
.link_nal_mobile{
    text-decoration: none;
    margin-bottom: 3rem;
    color: #fff;
}
.li_nav{
    margin-bottom: 1rem;
}
.line{
    border-bottom: 2px solid;
    width: 20px;
    display: block;
    margin-bottom: 3px;
    transition: all 300ms ease-out;
}
.label_nav{
    position: relative;
    top: 15px;
    cursor: pointer;
}
.line_nav_mob{
  
   text-align: center;
   display: flex;
   align-items: center;
}
.input_search{
    background-color: #3f3e46;
    width:100%;
    outline: none;
    border: 1px solid rgb(105, 105, 105);
    padding: 5px;
    border-radius: 4px;
}
.input_search:focus{
    border: 1px solid rgb(3, 210, 41);
}
@media screen and (max-width:750px) {
    .container_nav {
        grid-template-columns: 28% 15% 40%;
    }

    nav {
        display: none;
    }
    .logo{
        width: 60px;
         height: 40px;
    }

    .nav_mobile {
        display: block;
    }

    .ul_nav_mobile {
        position: fixed;
        right: 0;
        top: 0;
        bottom: 0;
        background-color: #39383c;
        height: 100%;
        z-index: 2;
        width: 170px;
        transform: translateX(210px);
        list-style: none;
        padding-top: 1rem;
        transition: all 300ms ease-in ;
        overflow-x: hidden;
        padding-left: 0;
        text-align: right;
        padding-right: 10px;
    }
    .btn_login {
        font-size: small;
        padding: 5px;
    }
    .bi-cup-hot-fill {
        font-size: large;
        color: rgb(184, 179, 172);
    }
    .container_nav {
        grid-template-columns: 28% 17% 32%;
    }
    .bi-brightness{
        display: none;
    }
    .bi-cart{
        display: none;
    }
    .bi-sear{
        display: none;
    }
    .box_access_nav{
        display: flex;
        flex-direction: column;
        row-gap: 20px;
      
    }
    .bi_h_l{
        cursor: pointer;
    }
   
    .bi_h_l span{
        margin-right: 10px;
    }
    .color_h_nav:hover{
        color: #efb803;
    }
}